<div id="chatBox" class="justify-content-md-center row">
     <div class="col-sm-8 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message"/>                        
                    </div>                 
                </div>

            </div>
        </div>   
</div>

